{% extends "til_base.html" %}

{% block title %}Brie Carranza: all TILs{% endblock %}

{% block body %}

<div class="page-header" >
    <div class="title">
        <p>  
            <a href="/" class="font-bold text-4xl" >
            <i class="fa fa-heart"></i>
            TIL</a> 
        </p> 
    </div>
    
    <input type="checkbox" id="toggle-menu">
    <label class="menu-icon" for="toggle-menu">
        <a  id="menu-icon">
            <i class="fa fa-bars"></i>
        </a>
    </label>
    
    <div id="navigation-bar" class="nav-bar">
        <a  href="/" class="inline-flex items-center font-medium"> HOME </a>
        <a  class="active inline-flex items-center font-medium" href="/all"> ALL </a>
        <a target="_blank" rel="noopener noreferrer"  href="https://brie.dev" class="inline-flex items-center font-medium text-blue-600 hover:underline" >
            Blog
            <svg aria-hidden="true" class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
    </div>    
</div>

<section class="body" >

<div id="everybody" class="w-full">
<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="max-w-screen-lg  sm:text-lg ">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">View <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">all</mark> of Brie's TILs</h1>
        <p class="mb-3 font-light text-gray-500">
         Hello, world! 👋 This page lists every TIL snippet I've assembled since I started this project in December 2022. Sometimes, I write about something that I <b>remembered</b> rather than something I learned.</p>
      </div>
  </div>
</section>

<hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700">
{% for row in sql("select topic from til group by topic order by topic asc", database="tils") %}
 <!--   <h4 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 ">  --> 
        <h3>
        On the topic of <span class="underline underline-offset-3 decoration-8 decoration-blue-400 md:text-2xl lg:text-3xl">{{ row.topic }}</span>...
    </h3>
<!--    </h4> -->
    <ul>

        {% for til in sql("select * from til where topic = :topic order by created_utc desc", {"topic": row.topic}, database="tils") %}
            <li><a href="/{{ til.topic }}/{{ til.slug }}" class="font-semibold text-gray-900 underline  decoration-indigo-500"  >{{ til.title }}</a> - {{ til.created[:10] }}</li>
        {% endfor %}
    </ul>
</div>
</section>

{% endfor %}
{% endblock %}
